**PYTHON DATA TYPES**


int (Integer)

Stores whole numbers without decimals.
Properties: immutable, supports arithmetic operations, unlimited size (depends on memory).
Example: x = 10

In [13]:
x = 1
y = 2
z = x+y
print(z)
print(type(x))

3
<class 'int'>


float

Stores decimal (real) numbers.
Properties: immutable, supports arithmetic operations, less precise than integers due to floating-point representation.
Example: pi = 3.14

In [15]:
a = 2.345
print(type(a))

<class 'float'>

complex

Stores complex numbers with real and imaginary parts.
Properties: immutable, used in scientific and mathematical calculations.
Example: z = 2 + 3j

In [16]:
z = 2 + 3j
print(type(z))

<class 'complex'>

bool (Boolean)

Stores logical values.
Properties: immutable, has only two values: True and False, often used in conditions.
Example: is_active = True

In [19]:
is_active = True
print(type(is_active))

<class 'bool'>

list

Stores a collection of items.
Properties: mutable, ordered, allows duplicate values, can store mixed data types.
Example: nums = [1, 2, 3, "a"]

In [20]:
a = [1,3,5,7]
print(type(a))

<class 'list'>

tuple

Stores a collection of items similar to a list.
Properties: immutable, ordered, allows duplicates, faster than lists.
Example: point = (10, 20)

In [21]:
t = (2,4,6,8,10)
print(type(t))

<class 'tuple'>

set

Stores unique items only.
Properties: mutable, unordered, does not allow duplicates, supports set operations (union, intersection).
Example: unique = {1, 2, 3}

In [22]:
s = {1,2,3,5}
print(type(s))

<class 'set'>

dict (Dictionary)
Stores data in keyâ€“value pairs.
Properties: mutable, unordered (insertion-ordered from Python 3.7+), keys must be unique and immutable.
Example: student = {"name": "Amit", "age": 20}

In [23]:
student = {"name": "Amit", "age": 20}
print(type(student))

<class 'dict'>